@{
    ViewData["Title"] = "Home Page";
    Layout = "_layout";
}
<h2>welkom nibba</h2>

<button onclick="GetImageData()">
    klik me
</button>

hi<input type="image" />

  <div id="piellemuis">
      {"Tafelnaam":"nibba","Stoelen":[{"Bezet":false},{"Bezet":true},{"Bezet":true},{"Bezet":false},{"Bezet":true},{"Bezet":false},{"Bezet":false},{"Bezet":true}]}
  </div>
